# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
private_media/

# Environment
.env

# Node
node_modules/

# IDE
.idea/
.vscode/
*.swp
.DS_Store
